<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <div class='container'>
    <div class="jumbotron">
        <h1>Welcome to JOBS PORTAL</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="/punejobs" role="button">Learn more</a></p>&nbsp&nbsp
        <p><a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Learn more</a></p>&nbsp&nbsp
        <p><a class="btn btn-primary btn-lg" href="/bnglrjobs" role="button">Learn more</a></p>
        <p><a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">Learn more</a></p>

    
    
    </div>
    </div>
    
  </body>
</html>















